connexion[swagger-ui] == 2.2.0
python_dateutil == 2.6.0
setuptools >= 21.0.0
pytz == 2020.1
flask-request-id-header == 0.1.1
Werkzeug == 0.16.1
git+git://github.com/opendatadurban/geocode-array.git@b9b91dbe853598b5e48b31512ca34cef80230b1c#egg=geocode-array
git+git://github.com/cityofcapetown/cape-of-good-place-names@85f2413903ffcbfedf100dd398bce28e645d0067#egg=basic_scrubber&subdirectory=src/scrubbers